html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* fin reset */
body {
    margin:0;
    padding:0;
}

#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    z-index: -1;
}

.hidden {
  display:none;
}

#testPhoto {
  position:absolute;
  top:0;
  bottom:0;
  z-index: 50;
}
/*

Vert #17C188
Jaune #EDCD24
Violet #3C1441
Gris #B7B7B7

*/


body {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-weight: 700;
    font-size: 16px;
}

.content {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
}

.logo {
    width: 120px;
    height: 50px;
    background-image: url(img/logo.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2% 5%;
    position: fixed;
    float: left;
}

nav {
    width: 100%;
    height: 90px;
    background-color: #17C188;
    position: fixed;
    bottom: 0;
}

.bouton {
    width: 35%;
    height: 100%;
    color: #fff;
    padding: 0 5px;
}

#bouton-left {
    float: left;
}

#bouton-right {
    float: right;
}

.circle {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    height: 100px;
    position: absolute;
    bottom: 15px;
    left: 38%;
}

#circle-go {
    background-image: url(img/bouton-go.svg);
}

#circle-camera {
    background-image: url(img/camera.svg);
}

#circle-upload {
    background-image: url(img/upload.svg);
}

.icon {
    background-position: center -25%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    float: left;
    margin-right: 5px;
}

#icon-profil {
    background-image: url(img/icon-profil.svg);
}

#icon-stop {
    background-image: url(img/icon-square.svg);
}

#icon-cancel {
    background-image: url(img/icon-cancel.svg);
}

.icon-itineraire {
    background-image: url(img/icon-itineraire.svg);
}

.click {
    margin-top: 30px;
    margin-left: 20%;
}

.click-right {
    margin-left: 10%;
}

.recap-itineraire {
    width: 100%;
    height: 150px;
}

.img-contener {
    margin-top: -40px;
}


.img {
    width: 100%;
    height: auto;
    margin-bottom: -2px;
}

.action {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: relative;
    top: 50px;
    opacity: 0.8;
}

.action-cancel {
    background-image: url(img/action-cancel.svg);
    float: left;
    left: 10px;
}

.action-validate {
    background-image: url(img/action-validate.svg);
    float: right;
    right: 10px;
}

.last {
    width: 100%;
    height: 90px;
}

#hidden {
    display: none;
}

#visible {
    display: block;
}



/* ---- MEDIA QUERIES ---- */


@media screen and (max-width: 375px) {
    .icon {
        margin: 0 25%;
    }
    .icon-profil {
       margin: 0 20%;
    }
    .icon-stop {
       margin: 0 25%;
    }
    .click-left {
        width: 40px;
    }
    .icon-cancel {
       margin: 0 65%;
    }
}
